@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Success";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    You can return to the login page
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
